<!-- Header section -->

<div class="vertical-center">
  <span class="title">BlackJack Game</span>
</div>

<div class="vertical-center">

  <!-- player section -->
  <div class="inside">
    <h2 class="vertical-center">Player</h2>
    <div class="container">
      <div *ngFor="let item of player" class=" my-animation">
        <div class="card">{{item}}</div>
      </div>
    </div>
    <div class="h-50">
      <span *ngIf="(playerScore >= 21) || (dealerScore >= 21) || message" class="vertical-center">Player Score :-
        {{playerScore}}</span>
    </div>
  </div>

  <!-- Dealer section -->

  <div class="inside">
    <h2 class="vertical-center">Dealer</h2>
    <div class="container">
      <div *ngFor="let item of dealer" class=" my-animation">
        <div class="card">{{item}}</div>
      </div>
    </div>
    <div class="h-50">
      <span *ngIf="(playerScore >= 21) || (dealerScore >= 21) || message" class="vertical-center">Dealer Score :-
        {{dealerScore}}</span>
    </div>
  </div>
</div>
<!-- button section -->
<div class="vertical-center">
  <button (click)="newGame()">New Game</button>
  <button (click)="playerHit()" [disabled]="disableBtn">Player HIt</button>
  <button (click)="dealerHit()" [disabled]="disableBtn">Dealer Hit</button>
  <button (click)="stay()" [disabled]="disableBtn">Stay</button>
</div>

<!-- Message showing section -->

<h1 class="vertical-center">{{message}}</h1>